.n-upload-file-list .n-upload-file .n-upload-file-info .n-upload-file-info__name {
  color: #fff;
}

.n-upload-file {
  background-color: #18A058FF;
  border-radius: 3px;
  margin: 3px 0;
}

.n-upload-file-list .n-upload-file:hover {
  background-color: #0C7A43FF;
}